{% extends 'index.html' %}

{% block pager %}


          <nav>
            <ul class="pager">
              {% if page_id and nextpage_id %}
              <li class="previous"><a href="/blog/archives/{{ times }}/?page={{ page_id|add:-1 }}">&larr; Previous</a></li>
              <li class="next"><a href="/blog/archives/{{ times }}/?page={{ nextpage_id }}">Next &rarr;</a></li>
              {% elif not page_id and nextpage_id  %}
              <li class="next"><a href="/blog/archives/{{ times }}/?page={{ nextpage_id }}">Next &rarr;</a></li>
              {% elif page_id and not nextpage_id  %}
              <li class="previous"><a href="/blog/archives/{{ times }}/?page={{ page_id|add:-1 }}">&larr; Previous</a></li>
              {% endif %}
            </ul>
          </nav>



{% endblock %}
