{% extends 'index.html' %}

{% block archives %}


  {% for blog in times_blog %}
  <div class="blog-post">
    <h2 class="blog-post-title"><a href="{% url 'blog:article'  blog.id|add:1000 %}">{{ blog.title|capfirst }}</a></h2>
     <p class="blog-post-meta">发表于  {{ blog.timestamp|date:"Y-m-d H:i:s" }}  |  作者  {{ blog.author }}</p>
     <p class="tag">{% for tag in blog.tag.all %} <a href="#">{{ tag }}</a>{% endfor %}</p>
     <div>
      {{ blog.body|safe|truncatewords_html:20 }}
     </div>
  </div><!-- /.blog-post -->
    <hr>
   {% endfor %}



{% endblock %}
