{% extends 'index.html' %}

{% block content %}



{% if articles %}

 <div class="blog-post">
   <h2 class="blog-post-title">{{ articles.title }}</h2>
   <p class="blog-post-meta">发表于  {{ articles.timestamp|date:"Y-m-d H:i:s" }}  |  作者  {{ articles.author }}</p>
   <p class="tag">{% for tag in articles.tag.all %} <a href="{% url 'blog:tag' tag %}">{{ tag }}</a>{% endfor %}</p>
   <div>
      {{ articles.body|safe }}
   </div>
 </div>

 <nav>
   <ul class="pager">
     {% if next_blog %}
     <li class="previous"><a href="/blog/articles/{{ next_blog.id|add:1000 }}">&larr; {{ next_blog.title }}</a></li>
     {% endif %}
     {% if last_blog %}
     <li class="next"><a href="/blog/articles/{{ last_blog.id|add:1000 }}">{{ last_blog.title }} &rarr;</a></li>
     {% endif %}
     
   </ul>
 </nav>


<div class="sidebar-module">
  <h3 class="lead blog-description">网友评论</h3>
  <hr>
  {% for info in articles.title_id.all %}
  <p>
  <span>{{ info.randomname }} | {{ info.timestamp|date:"Y-m-d H:i:s" }}</span>
  </p>
  <div>{{ info.intro|linebreaks }}</div>
  <hr>
  {% endfor %}
 <form action="/blog/articles/{{ articles.id|add:1000 }}/comment/" method="post" id="reComment">
  <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span><span id="critic">MARS</span></p>
  <p><textarea class="form-control" rows="4" id="comment"></textarea></p>
  <p><button type="button" class="btn btn-primary" onClick="reComment('reComment')">评论</button></p>
 </form>
</div>

{% else %}
<div class="blog-post">
404
</div>
{% endif %}

{% endblock %}
