{% extends 'index.html' %}

{% block content %}

<hr>


{% if articles %}

 <div class="blog-post">
   <h2 class="blog-post-title">{{ articles.title|capfirst }}</h2>
   <p class="blog-post-meta">发表于  {{ articles.timestamp|date:"Y-m-d H:i:s" }}  |  作者  {{ articles.author }}</p>
   <p class="tag">{% for tag in articles.tag.all %} <a href="{% url 'blog:tag' tag %}">{{ tag }}</a>{% endfor %}</p>
   <div>
      {{ articles.body|safe }}
   </div>
 </div>

 <nav>
   <ul class="pager">
     {% if next_blog %}
     <li class="previous"><a href="/blog/articles/{{ next_blog.id|add:1000 }}">&larr; {{ next_blog.title }}</a></li>
     {% endif %}
     {% if last_blog %}
     <li class="next"><a href="/blog/articles/{{ last_blog.id|add:1000 }}">{{ last_blog.title }} &rarr;</a></li>
     {% endif %}
     
   </ul>
 </nav>


<div class="sidebar-module">
 <h3 class="lead blog-description">网友评论</h3>
 <hr>
 <p>
 <textarea class="form-control" rows="4"></textarea>
 </p>
 <p>
 <button type="submit" class="btn btn-primary">Submit</button>
 </p>

</div>

{% else %}
<div class="blog-post">
404
</div>
{% endif %}

{% endblock %}
