
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PeMonkey</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />

    <!-- Bootstrap core CSS -->
    <!--<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/blog.css" rel="stylesheet">
    <script src="/static/ckeditor/ckeditor/ckeditor.js"></script>
    <!--<script src="/static/ckeditor/ckeditor/plugins/codesnippet/plugin.js"></script>-->

    <link href="/static/ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/darcula.css" rel="stylesheet">
    <script src="/static/ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/js/ie-emulation-modes-warning.js"></script>

    <script src="https://pv.sohu.com/cityjson?ie=utf-8"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->


  </head>

  <body>

<!--    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="{% url 'blog:index' %}">Home</a>
          <a class="blog-nav-item" href="#">New features</a>
          <a class="blog-nav-item" href="#">Press</a>
          <a class="blog-nav-item" href="#">New hires</a>
          <a class="blog-nav-item" href="#">About</a>
        </nav>
      </div>
    </div>-->



    <div class="container">

      <div class="blog-header ">
        <h1 class="blog-title"><a href="{% url 'blog:index' %}">PeMonkey</a></h1>
        <p class="lead blog-description">The best time to plant a tree was a decade ago, and following is now.</p>
      </div>



         <hr>
      <div class="row">
        <div class="col-sm-8 blog-main">
         {% block content %}


          {% if blogs %}
          {% for blog in blogs %}
          <div class="blog-post">
            <h2 class="blog-post-title"><a href="{% url 'blog:article'  blog.id|add:1000 %}">{{ blog.title }}</a></h2>
            <p class="blog-post-meta">发表于  {{ blog.timestamp|date:"Y-m-d H:i:s" }}  |  作者  {{ blog.author }}</p>
            <p class="tag">{% for tag in blog.tag.all %} <a href="{% url 'blog:tag' tag %}">{{ tag }}</a>{% endfor %}</p>
            <div>
            {{ blog.body|safe|truncatewords_html:20 }}
            </div>
          </div><!-- /.blog-post -->
          <hr>
          {% endfor %}
          {% else %}
          <div class="blog-post">
          <p>404</p>
          </div>
          {% endif %}

         {% block pager %}
          <nav>
            <ul class="pager">
              {% if page_id and nextpage_id %}
              <li class="previous"><a href="/blog/?page={{ page_id|add:-1 }}">&larr; Previous</a></li>
              <li class="next"><a href="/blog/?page={{ nextpage_id }}">Next &rarr;</a></li>
              {% elif not page_id and nextpage_id  %}
              <li class="next"><a href="/blog/?page={{ nextpage_id }}">Next &rarr;</a></li>
              {% elif page_id and not nextpage_id  %}
              <li class="previous"><a href="/blog/?page={{ page_id|add:-1 }}">&larr; Previous</a></li>
              {% endif %}
            </ul>
          </nav>
          {% endblock %}

       {% endblock %}
       </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <h4>关于</h4>
          <div class="abortwell">
            <p class="text-left">当我痛苦地站在你的面前,</p>
            <p class="text-left">你不能说我一无所有,</p>
            <p class="text-left">你不能说我两手空空.</p>
            <p class="text-right">--海子</p>
          </div>


         <div id="demo" class="sidebar-module">
              <div id="ca"></div>
         </div>



          <div class="sidebar-module">
            <h4>搜索</h4>
             <form action="/blog/search/" method="get" id="research">
              <div class="input-group">
               <input class="form-control " id="search" placeholder="搜索..."></input>
               <span class="input-group-btn">
                <button class="btn btn-default" type="button" onClick="research('research')">
                 <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 
                </button>
               </span>
              </div>
             </form>
          </div>


          <div class="sidebar-module blog-post blog-post-ol">
            <h4>文章分类</h4>
            <ol class="list-unstyled">
            <li class="tag">{% for tag in list_tags %} <a href="{% url 'blog:tag' tag %}">{{ tag }}</a>{% endfor %}</li>
            </ol>
          </div>




          <div class="sidebar-module">
            <h4>文章归档</h4>
            <ol class="list-unstyled">
              {% for key,value in archives.items %}
              <li><a href="{% url 'blog:archive' key %}">{{ key }}( {{ value }} )</a></li>
              {% endfor %}
            </ol>
          </div>



          <div class="sidebar-module">
            <h4>友情链接</h4>
            <ol class="list-unstyled">
              <li><a href="">GitHub</a></li>
              <li><a href="">Twitter</a></li>
              <li><a href="">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>
        <a href="">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="//cdn.ckeditor.com/4.6.2/full/ckeditor.js"></script>-->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/blog.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/jquery.min.js"><\/script>')</script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>

    <script type="text/javascript">
        $(window).load(function(){
            $("img").addClass("img-responsive");
        })
    </script>

    <script type="text/javascript">
       if (document.getElementById("critic")){
           document.getElementById("critic").innerHTML="["+returnCitySN["cname"]+"]"+returnCitySN["cip"];
       }
    </script>


  </body>
</html>
